.dictionary-form {
  text-align: center;
}

.dictionary-form input {
  width: 250px;
  height: 25px;
  text-align: center;
}

.intro {
  text-align: center;
}

.dictionary-search {
  padding-bottom: 20px;
}
