.Listen {
  background: purple;
  padding: 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Listen:hover {
  background: white;
  color: purple;
}

.Phonetics-Text {
  margin-left: 10px;
  opacity: 0.6;
  font-weight: bold;
}

.Phonetics {
  margin: 10px 0;
}
