.listen {
  background: purple;
  padding: 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.listen:hover {
  background: white;
  color: purple;
}

.phonetics-text {
  margin-left: 10px;
  opacity: 0.6;
  font-weight: bold;
}

.phonetics {
  margin: 10px 0;
}
